
{% extends 'base.html.twig' %}

{% block title %}Ajouter un module à {{ session.intitule }}{% endblock %}

{% block body %}

<div id="wrapper-main">
    {{ form_start(form) }}
    {{ form_row(form.module) }}
    {{ form_row(form.nbjours) }}
    <br />
    {{ form_widget(form.back) }}
    {{ form_widget(form.comeback) }}
    {{ form_end(form) }}
</div>

{% endblock %}
