{% extends 'base.html.twig' %}

{% block title %}Editer une session {% endblock %}

{% block body %}
<main>
    <div id="wrapper-main">
        {{ form_start(form) }}
        {{ form_row(form.intitule) }}
        {{ form_row(form.nbPlaces) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}
        <br />
        {{ form_row(form.valider) }}
        
        
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}