{% extends 'base.html.twig' %}

{% block title %}Les formations disponible{% endblock %}

{% block body %}
<main>

<div id="wrapper-main">
    <table class="uk-table uk-table-striped uk-table-middle">
        <thead>
            <tr>
                <th>Intitulé Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
                <th>Détails programmes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                    <td>{{session.intitule}}</td>
                    <td>{{session.dateDebut | date('d/m/y')}}</td>
                    <td>{{session.dateFin | date('d/m/y')}}</td>
                    <td>{{session.nbPlaces}}</td>
                    <td>{{session.stagiaires | length}}</td>
                    <td>{{session.nbPlaces - session.stagiaires | length }}</td>
                    <td><a href="{{path('show_session',{'id':session.id}) }}"><i class="fas fa-list-ul"></i></a></td>
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
    
</div>

</main>
{% endblock %}
