{% extends 'base.html.twig' %}

{% block title %}Les formations disponible{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 4px; }
</style> 

<div class="wrapper-main">
    <h1>Liste des Sessions de formations disponibles</h1>
    <table class="uk-table uk-table-striped uk-table-middle">
        <thead>
            <tr>
                <th>Intitulé Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
                <th>Détails programmes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                    <td>{{session.intitule}}</td>
                    <td>{{session.dateDebut | date('d/m/y')}}</td>
                    <td>{{session.dateFin | date('d/m/y')}}</td>
                    <td>{{session.nbPlaces}}</td>
                    <td>{{session.stagiaires | length}}</td>
                    <td>{{session.nbPlaces - session.stagiaires | length }}</td>
                    <td><a href="{{path('showOneFormation',{'id':session.id}) }}"><i class="fas fa-list-ul"></i></a></td>
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
    
</div>
{% endblock %}
