{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<main>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div id="wrapper-main-home">
        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <a class="a-ingrid" href="{{ path('stagiaires_list') }}"><div class="uk-card uk-card-default uk-card-body">Stagiaires</div></a>
            </div>
            <div>
                <a class="a-ingrid" href="{{ path('formateurs_list') }}"><div class="uk-card uk-card-default uk-card-body">Formateurs</div></a>
            </div>
        </div>
        <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <a class="a-ingrid" href="{{ path('formations_list') }}"><div class="uk-card uk-card-default uk-card-body">Formations</div></a>
                </div>
                <div>
                    <a class="a-ingrid" href="{{ path('modules_list') }}"><div class="uk-card uk-card-default uk-card-body">Modules</div></a>
                </div>
        </div>
        <div class="uk-grid-small uk-child-width-1-2 uk-text-center uk-flex-center" uk-grid>
            <div>
                <a class="a-ingrid" href="{{ path('categories_list') }}"><div class="uk-card uk-card-default uk-card-body">Categories</div></a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
