<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion de sessions de formations{% endblock %}</title>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />  
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/session.css') }}" />
        {% endblock %}
    </head>
    <body>
            <header>
                <div id="wrapper-header">   
                    <nav class="uk-navbar-container uk-navbar">
                        <div id="hero" class="uk-navbar-left">
                            <a href="{{ path('home') }}"><img src="{{ asset('/ressources/images/logo-elan.png') }}" alt="Formation Banner" /></a>
                        </div>
                        
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">
                                <a href="#">Stagiaires</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-navbar-dropdown-nav">
                                        <li><a href="{{ path('stagiaires_list') }}">Liste</a></li>
                                        <li><a href="{{ path('stagiaire_add') }}">Ajouter</a></li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav">
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                {% else %}
                                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        {% block body %}


        {% endblock %}

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
        <!-- FontAwesome JS -->
        <script src="https://kit.fontawesome.com/6277cc7eb0.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
