
{% extends 'base.html.twig' %}

{% block title %}Editer une personne{% endblock %}

{% block body %}

<div id="wrapper-main">
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.datenaissance) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.email) }}
    {{ form_label(form.telephone) }} <br />
    {{ form_errors(form.telephone) }}
    {{ form_widget(form.telephone) }}
    {{ form_end(form) }}
</div>

{% endblock %}
