{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}
<main>
<div id="wrapper-main">
    <table class="uk-table uk-table-striped uk-table-middle">
        <thead>
            <th>Prénom</th>
            <th>Nom</th>
            <th class="uk-width-1-6">Details</th>
            {% if is_granted('ROLE_USER') %}
                <th class="uk-width-1-6">Outils</th>
            {% endif %}
        </thead>
        <tbody>
            {% for formateur in formateurs %}
                <tr>
                    <td>{{ formateur.prenom }}</td>
                    <td>{{ formateur.nom }}</td>
                    <td class="uk-width-1-6"><a href="{{ path('formateur_show', {'id':formateur.id}) }}"><i class="fas fa-list-ul"></i></a></td>
                    {% if is_granted('ROLE_USER') %}
                    <td class="uk-width-1-6"><a href="{{ path('formateur_edit', {'id':formateur.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('formateur_delete', {'id':formateur.id}) }}"><i class="fas fa-times"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <a class="uk-button uk-button-default uk-button-large" href="{{ path('formateur_add') }}">Nouveau</a>
    {% endif %}
</div>
</main>

{% endblock %}