{% extends 'base.html.twig' %}

{% block title %}Détails de {{ stagiaire.prenom }} {{ stagiaire.nom }}{% endblock %}

{% block body %}
<main>
<div id="wrapper-main">
    <div id="personne-detail-box">
            <div id="personne-detail-header">
                <h3><i class="fas fa-portrait"></i> <strong>Fiche stagiaire</strong></h3>
                {% if is_granted('ROLE_USER') %}
                    <div class="mod-tool">
                        <a href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}"><i class="fas fa-times"></i></a>
                    </div>
                {% endif %}
            </div>
        <h3>{{ stagiaire.prenom }} {{ stagiaire.nom }}</h3>
        <dl>
            <dt>Sexe :</dt> <dd>{{ stagiaire.genre }}</dd><br>
            <dt>Date de naissance :</dt> <dd>{{ stagiaire.genre }} ({{ stagiaire.age }} ans)</dd><br>
            <dt>Ville :</dt> <dd>{{ stagiaire.ville }}</dd><br>
            <dt>Courriel :</dt> <dd>{{ stagiaire.email }}</dd><br>
            <dt>Téléphone :</dt> <dd>{{ stagiaire.telephone }}</dd><br>
        </dl>
        <h4>Sessions prévues</h4>
        <ul>
            {% for formation in sessions %}
            <li><strong>{{ formation.intitule }}</strong> (du {{ formation.dateDebut | date('d/m/Y') }} au {{ formation.dateFin | date('d/m/Y') }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
</main>

{% endblock %}