{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
<main>
<div id="wrapper-main">
    <table class="uk-table uk-table-striped uk-table-middle">
        <thead>
            <th>Prénom</th>
            <th>Nom</th>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td>{{ stagiaire.prenom }}</td>
                    <td>{{ stagiaire.nom }}</td>
                    <td><a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}"><i class="fas fa-list-ul"></i></a></td>
                    {% if is_granted('ROLE_USER') %}
                    <td><a href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}"><i class="fas fa-times"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="uk-button uk-button-default uk-button-large" href="{{ path('stagiaire_add') }}">Nouveau</a>
</div>
</main>

{% endblock %}